* {
	box-sizing: border-box;
}

div {
	width: 300px;
	border-radius: 10px;
	background-color: #2;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	background-color: white;
	border: 10px;
}

li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: black;
}

input[type=text], select {
	width: 80%;
	padding: 10px;
	margin: 30px;
	display: inline-block;
	border-radius: 4px;
	
}

input[type=submit] {
	width: 100%;
	background-color: #0066DB;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #1;
}


header {
	background-color: #0066DB;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: red;
	background-image: url("mountains.png");
	background-size: 25%;
}

section {
	display: flex;
}

aside {
	background-color: #0066DB;
}

nav {
	flex: 0.15;
	background: #133863;
	padding: 20px;
}

nav ul {
	list-style-type: none;
}

article {
	flex: 2;
	background-color: #0066DB;
	padding: 10px;

}

section::after {
	display: table;
	clear: both;
}

footer {
	background-color:mediumslateblue;
	padding: 20px;
	text-align: center;
	color: black;
}

@media (max-width: 600px) {
	section {
		flex-direction: column;
	}
}