* {
	box-sizing: border-box;
}

div {
	width: 300px;
	border-radius: 10px;
	background-color: cadetblue;
	padding: 10px;
}

input[type=text], select {
	width: 80%;
	padding: 10px;
	margin: 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	
}

input[type=submit] {
	width: 100%;
	background-color: cornflowerblue;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: skyblue;
}


header {
	background-color: darkslateblue;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
	background-image: url("mountains.jpg");
}

section {
	display: flex;
}

aside {
	background-color: cornflowerblue;
}

nav {
	flex: 0.5;
	background: moccasin;
	padding: 20px;
}

nav ul {
	list-style-type: none;
}

article {
	flex: 2;
	background-color: dodgerblue;

}

section::after {
	display: table;
	clear: both;
}

footer {
	background-color:mediumslateblue;
	padding: 20px;
	text-align: center;
	color: black;
}

@media (max-width: 600px) {
	section {
		flex-direction: column;
	}
}